@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&family=Jersey+10&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #023188;
  --link-color: #d31a5f;
  --link-background-color: #5984bd;
  --link-background-color-hover: #e4576a;
  --pixel-border: url(./img/pixel-border.svg);
}

/*==========================================================================*/

body {
  background: #5397b9 url("./img/bg.svg");
  background-size: 5%;
  background-attachment: fixed;
  /* height: 100vh; */
}

main {
  width: 100%;
  max-width: 588px;
  margin: 5vh auto 0;
  padding: 0 12px 12px;
  color: var(--text-color);
  background: #0277bd;
  background-clip: padding-box;

  border: 7px solid transparent;
  /*   border-image-source: var(--pixel-border);
  border-image-slice: 40%;
  border-image-width: 9px;
  border-image-outset: 7px;
  border-image-repeat: stretch; */
  border-image: var(--pixel-border) 40% / 9px stretch;
}

section {
  text-align: center;
  background: #c3e0e0;
  background-clip: padding-box;
  border: 7px solid transparent;
  border-image: var(--pixel-border) 40% / 9px stretch;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: #e77988;
  transition: color 0.2s;
}

/* ------ Fonts ------ */

/*Title font*/
main p,
main h1 {
  font-family: "Jersey 10", serif;
  font-weight: 400;
  font-style: normal;
}

/*Text font*/
ul li a,
footer {
  font-family: "Gemunu Libre", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/*==========================================================================*/

#profile {
  padding: 3vh 0;
}

#profile img {
  width: 112px;
  border: 5px solid transparent;
  border-image: var(--pixel-border) 40% / 6px stretch;
  /* border-radius: 50%; */
}

main h1 {
  display: inline-block;
  font-size: 28px;
  padding: 6px 7px;
  color: #c3e0e0;
}

#title {
  position: relative;
}

#square {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: -2%;
}

#square img {
  height: 35px;
}

/*==========================================================================*/

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 2vh 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2vh 1vw;
  margin: 0 7%;
  background: var(--link-background-color);
  background-clip: padding-box;

  color: white;
  font-size: 20px;

  transition: background 0.2s;
}

ul li a:hover {
  color: rgb(253, 211, 220);
  background: var(--link-background-color-hover);
}

/*-----------------------------------*/
/* Hover effect */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.hvr-ripple-out {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-ripple-out:before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-image: var(--pixel-border) 40% / 6px stretch;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.hvr-ripple-out:hover:before,
.hvr-ripple-out:focus:before,
.hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}
/*-----------------------------------*/

#social-links {
  display: flex;
  justify-content: center;
  padding: 2vh 0;
  font-size: 24px;
  gap: 0 5px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  /* border: 1px solid red; */
}

footer {
  padding: 2vh 0;
}
